# Common IntelliJ Platform excludes

**/.idea/
# User specific
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/shelf/*
**/.idea/dictionaries
**/.idea/httpRequests/

# Sensitive or high-churn files
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.xml
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml

# Rider
# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

backend/SlideSync/*.suo
backend/SlideSync/*.user
backend/SlideSync/.vs/
backend/SlideSync/[Bb]in/
backend/SlideSync/[Oo]bj/
backend/SlideSync/_UpgradeReport_Files/
backend/SlideSync/[Pp]ackages/
backend/ApiTester/[Bb]in/
backend/ApiTester/[Oo]bj/
backend/SlideSync.sln.DotSettings.user

backend/ApiTester/[Bb]in/
backend/ApiTester/[Oo]bj/
backend/SlideSync.sln.DotSettings.user

backend/SlideSync/Thumbs.db
backend/SlideSync/Desktop.ini
**/.DS_Store
