@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#root {
    height: 100%;
}
.App {
    height: 100%;
    overflow: auto;
    text-align: center;
    background-color: #e5e5e5;
}
