@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

#root {
    height: 100%;
}
.App {
    height: 100%;
    overflow: auto;

    background-color: 'white';
    font-family: 'PT Sans';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

.dropdown {
    animation: fade 0.3s linear forwards;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex: 1;
    min-height: 0px;
}

.overflow-container {
    flex: 1;
    overflow: auto;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
