name: Heroku

on:
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-16.04
        steps:
        - uses: actions/checkout@v1
        - name: Build and deploy
          env:
                HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
                APP_NAME: ${{ 'taskathon-go' }}
          run: |
                cd ../../../backend/SlideSync
                docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com
                heroku container:push web -a $APP_NAME
                heroku container:release web -a $APP_NAME
